@model List<ArticleDetail>

<h3>Wealth of Geeks</h3>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td scope="col">Title</td>
                <td scope="col">Time</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                    <td><a target="_blank" href=@item.ArticleUrl>@item.ArticleTitle</a></td>
                    <td>@item.ArticleTime</td>
               
            </tr>
            }
        </tbody>

    </table>
}
else
{
    <p>No data available</p>
}

